body {
    background-image:url(../imgs/corkboard4.png);
    background-repeat:repeat;
    height: 100%;
}

.pin-align {
    position: relative;
}

.pin {
    position:absolute;
    top:-17px;
    left:-10px;
}

.popover-title {
    font-weight: bold;
}