body {
    background-image:url(../imgs/corkboard3.png);
    background-repeat:repeat;
    height: 100%;
}

#search_panel {
    float: left;
    height: 100%;
    background: rgb(38,38,38);
    margin: 0px;
}

.search_collapsed {
    width: 50px;
}